$spacer: 16px;

$font-size-base: 16px;
$font-size-md: $font-size-base * 1.125;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.5;

$primary: #ff9600;
$secondary: #605f5b;
$dark: #282c34;
